.genres a:not(:last-child):after, .songs a:not(:last-child):after {
    content: ", "
}

.row > div[class*='col-'] {
  display: flex;
  flex:1 0 auto;
}

.bottom-buffer {
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: black;
}
.container-fluid {
    padding: 60px 15px 0;
}
body {
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;
}

.no-border {
    border: 0;
}
